@import "tailwindcss";

/* Leaflet Container & Markers */
.leaflet-container {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif !important;
}

.custom-leaflet-pin {
  background: transparent !important;
  border: none !important;
}

/* Custom scrollbar for dropdowns and galleries */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
